<div class="container p-4 floating-box">
  <h4 class="title">Crear Comunidad</h4>
  <form [formGroup]="communityForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" placeholder="Nombre de la comunidad" />
      <mat-error *ngIf="communityForm.get('name')?.invalid && (communityForm.get('name')?.touched || communityForm.get('name')?.dirty)">
        {{ getErrorMessage('name') }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="description" placeholder="Descripción de la comunidad"></textarea>
      <mat-error *ngIf="communityForm.get('description')?.invalid && (communityForm.get('description')?.touched || communityForm.get('description')?.dirty)">
        {{ getErrorMessage('description') }}
      </mat-error>
    </mat-form-field>

    <div class="button-container">
      <button mat-raised-button color="primary" type="submit" [disabled]="communityForm.invalid">Crear</button>
    </div>
  </form>
</div>
