<footer class="bg-gray-900 text-white">
  <div class="container mx-auto py-4 py-lg-5">
      <div class="flex justify-center">
          <div class="w-full sm:w-1/4 text-center sm:text-left flex flex-col items-center sm:items-start mb-4">
              <h3 class="text-lg text-white">Contactos</h3>
              <p class="mb-0">Telf: 004-220214</p>
              <p>E-mail: rentease@gmail.com</p>
          </div>
          <div class="w-full sm:w-1/4"></div>
          <div class="w-full sm:w-1/4"></div>
          <div class="w-full sm:w-1/4 flex justify-center sm:justify-start mb-4">
              <!-- Redes sociales -->
          </div>
      </div>
      <hr class="my-4 border-gray-700">
      <div class="flex justify-between items-center pt-3">
          <p class="mb-0">RentEase © Grupo1 - Transaccionales 2024</p>
          <ul class="flex space-x-4">
            <li class="icon facebook">
              <a href="#" target="_blank" class="text-blue-600 relative group">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="icon twitter">
              <a href="#" target="_blank" class="text-blue-400 relative group">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="icon instagram">
              <a href="#" target="_blank" class="text-pink-600 relative group">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li class="icon github">
              <a href="https://github.com/rentease-grupo01" target="_blank" class="text-gray-800 relative group">
                <i class="fab fa-github"></i>
              </a>
            </li>
            <li class="icon youtube">
              <a href="#" target="_blank" class="text-red-600 relative group">
                <i class="fab fa-youtube"></i>
              </a>
            </li>
          </ul>
      </div>
  </div>
</footer>
